/* Селектор по элементу */
h1 {
  color: blue;
}

/* Селектор по ID */
#uniqueId {
  color: green;
}

/* Селектор по классу */
.commonClass {
  color: red;
}

/* Селектор по нескольким классам */
.class1.class2 {
  color: purple;
}

/* Селектор по вложенности */
div p {
  color: orange;
}

/* Дочерний селектор */
ul > li {
  color: rgb(7, 252, 101);
}

/* Псевдокласс :hover */
a:hover {
  color: teal;
}

/* Псевдоэлемент ::before */
.with-arrow::before {
  content: " ► ";
  color: magenta;
  display: inline;
}

/* Первый дочерний элемент */
ul li:first-child {
  color: rgb(239, 24, 9);
}

/* Последний дочерний элемент */
ul li:last-child {
  color: rgb(12, 0, 139);
}